:root {
    --thm-root1-color: #1e40af;
    --thm-root2-color: #fa6d4d;
    --thm-primary-color: #000;
    --thm-background: #fff;
    --thm-secondary-background: #F5F5F5;
    --thm-secondary-color: #4b5563;
    --thm-font: "Poppins", sans-serif;
  }