:root {
    --thm-root1-color: #1e40af;
    --thm-root2-color: #fa6d4d;
    --thm-primary-color: #000;
    --thm-background: #fff;
    --thm-secondary-background: #F5F5F5;
    --thm-secondary-color: #4b5563;
    --thm-font: "Poppins", sans-serif;
    --thm-dark-primary-color: #d1d5db;
    --thm-dark-secondary-color: #9ca3af;
    --thm-dark-background: #1f2937;
    --thm-dark-secondary-background: #4b5563;
    --thm-dark-root1-color: #60a5fa;
    --thm-dark-root2-color: ##f97316;
    
  }